.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: auto;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.4rem 0.8rem;
  margin: 0;
  background-color: #8900ff;
  transition: all 0.2s ease-in-out;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedIn,
.notSignedIn {
  position: absolute;
  padding: 0.6rem 0 0.4rem 0;
  left: 1rem;
  right: 7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
}

.signedIn {
  left: 3.8rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.2rem;
  width: 2.2rem;
  background-color: white;
  background-size: cover;
  border: 2px solid #ddd;
}

.signinButton,
.signoutButton {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  background-color: #001eff;
  color: #fff;
  border: 1px solid #001eff;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 10;
}

.signinButton:hover {
  background-color: #ff008d;
  border-color: #ff008d;
  color: #fff;
}

.signoutButton {
  background-color: #fff;
  border-color: #bbb;
  color: #555;
}

.signoutButton:hover {
  background-color: #fff;
  border-color: #aaa;
  color: #333;
}
